<div class="min-h-screen bg-gradient-to-br from-gray-900 to-gray-800 text-white py-12 px-4 sm:px-6 lg:px-8">
  <div class="max-w-7xl mx-auto">
    <p class="text-xl text-center mb-12">
      Julio Espinola - Web Developer
    </p>
    <div class="grid grid-cols-1 md:grid-cols-3 lg:grid-cols-4 gap-8 ">
       @for (technology of technologies; track technology.name) {
         <div
           class="bg-gray-800 p-6 rounded-lg shadow-lg hover:shadow-xl transition-shadow duration-300 flex justify-center gap-4 items-center cursor-pointer group"
           [ngClass]="technology.class"
         >
           <h3 class="text-lg font-semibold text-center">{{technology.name}}</h3>
           <ng-icon [ngClass]="technology.iconClass" class="duration-100" size="50" [name]="technology.icon"></ng-icon>
         </div>
       }
    </div>
  </div>
</div>

